name: CI

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build & Test
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Show Xcode version
        run: |
          xcodebuild -version
          xcrun --show-sdk-path
          xcrun --show-sdk-version

      - name: Build
        run: |
          xcodebuild build \
            -project Maccy.xcodeproj \
            -scheme Maccy \
            -destination 'platform=macOS' \
            -configuration Debug \
            CODE_SIGNING_ALLOWED=NO \
            | xcpretty && exit ${PIPESTATUS[0]}

      - name: Run Unit Tests
        run: |
          xcodebuild test \
            -project Maccy.xcodeproj \
            -scheme Maccy \
            -destination 'platform=macOS' \
            -testPlan Maccy \
            -only-testing:MaccyTests \
            CODE_SIGNING_ALLOWED=NO \
            | xcpretty && exit ${PIPESTATUS[0]}
